.area{
	display: flex;
	width: var(--area-porta-largura);
	height: var(--area-porta-altura);
	flex-direction: column;
	align-items: center;
	margin: 0.3125rem;
}

.estrutura{
	display: flex;
	flex-grow: 1;
	width: 90%;
	border-left: 5px solid brown;
	border-top: 5px solid brown;
	border-right: 5px solid brown;
}

.porta{
	display: flex;
	flex-direction: column;
	background-color: chocolate;
	align-items: center;
	flex-grow: 1;
	padding: 0.9375rem;
	position: relative;
}

.numero{
	font-size: 3rem;
}


.macaneta{
	width: 1.25rem;
	height: 1.25rem;
	border-radius: 0.625rem;
	background-color: brown;
	position: absolute;
	top: 45%;
	left: 15px;
}

.chao{
	height: 0.625rem;
	width: 100%;
	background-color: #ddd;
}

.selecionada{
	border-left: 5px solid yellow;
	border-top: 5px solid yellow;
	border-right: 5px solid yellow;
	cursor: pointer;
}

.selecionada .numero{
	color: yellow;
}

.selecionada .macaneta{
	background-color: yellow;
}